#mainback {
	background-color: #343a40;
}

/* fonts*/

/* Titre */
p, h3 {
	color: #808080;
}

/* Questions / reponses */
h4, h5 {
	color: grey;
}


/* navbar */ 
#navbar {
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	border-top: 2px solid rgba(255, 255, 255, .5);
}

#copyright small {
	color : grey;
}

#theme-btn button {
	background-color: #A0522D;
	color: black;
}

#theme-btn button:hover {
	background-color: #CD853F;
}

/*sections */
#index-section, #test-section, #resultats-section {
	background-color: #343a40;
	border-color: #A0522D;
}

#inner-section, #inner-section-resultats {
	background-color: #343a40;
	border-color: rgba(255, 255, 255, .5);
}
/*sections */

/* code */
/* code { */
/* 	color : #CD853F; */
/* } */

/* code */

/* Index */

#start-btn button {
	background-color: #A0522D;
	color: black;
}

#start-btn button:hover {
	background-color: #CD853F;
}

/* Index */

/* Test*/

#timer-section {
	color : grey;
}

#timer-section input {
	background-color : #343a40; 
	color : grey;
}

#next-btn button {
	background-color: #006400;
	color: black;
}

#next-btn button:hover {
	background-color:  #228B22;
}

/* TEST */

/* FIN */

#resultats-btn button {
	background-color: #A0522D;
	color: black;
}

#resultats-btn button:hover {
	background-color: #CD853F;
}

/* FIN */

/* RESULTATS */

#return-btn button {
	background-color: #A0522D;
	color: black;
}

#return-btn button:hover {
	background-color: #CD853F;
}

/* RESULTATS */