body {
	position: relative;
	min-height: 100%;
	min-height: 100vh;
}

#mainback {
	/* 	background-image: url("./../img/sacs.jpg"); */
	background-color: #A9A9A9;
	/* 	Full height */
	/* 	height: 100%; */
	background-size: auto;
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	/* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
	background-attachment: fixed;
	/* This is what makes the background image rescale based
     on the container's size */
	background-size: cover;
}

/* Titre */
p, h3 {
	text-align: center;
	color: #808080;
	font-size: 180%;
	font-family: 'csm', Fallback, sans-serif;
}

/* Questions / reponses */
h4, h5 {
	font-size: 120%;
	color: #343a40;
	font-family: 'csm', Fallback, sans-serif;
	margin-left: 2%;
}

@media ( max-width : 1000px) {
	p, h3 {
		font-size: 150%;
	}
	h4, h5 {
		font-size: 110%;
	}
}

@media ( max-width : 600px) {
	p {
		font-size: 130%;
	}
	h4, h5 {
		font-size: 100%;
	}
}

@media ( max-width : 450px) {
	p {
		font-size: 110%;
	}
	h4, h5 {
		font-size: 90%;
	}
}

/* @font-face { */
/* 	font-family: "lucida"; */
/* 	src: url("css/font/lucida-sans-unicode.ttf") format("truetype"); */
/* } */
@font-face {
	font-family: "csm";
	src: url("./font/comic-sans-ms.ttf") format("truetype");
}

.navbar-brand {
	margin-left: auto;
	margin-right: auto;
	float: none;
}
/* footer */
footer {
	width: 100%;
	position: fixed;
	/* 	top: 0; */
	bottom: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#click-contact {
	color: #CD853F;
}

#click-contact:hover {
	color: #A0522D;
	cursor: pointer;
}

.credits {
	text-align: center;
	color: rgba(255, 255, 255, .5);
}

/* #socials { */

/* } */

/* footer */

/*section */
#index-section, #test-section {
	position: absolute;
	/* 	margin-left: auto; */
	/* 	margin-right: auto; */
	/* add the same space as navbar (35px) + navBarHeight + spaceThatWeWant*/
	top: 20%;
	bottom: 15%;
	background-color: #FFE4C4;
	border-style: solid;
	border-color: #CD853F;
	border-width: 4px;
}

#index-section {
	width: 40%;
	left: 0;
	right: 0;
}

@media ( max-width : 1000px) {
	#index-section {
		width: 50%;
	}
}

@media ( max-width : 800px) {
	#index-section {
		width: 55%;
	}
}

@media ( max-width : 575px) {
	#index-section {
		width: 60%;
	}
}

@media ( max-width : 768px) {
	#index-section {
		width: 70%;
	}
}

#test-section {
	width: 80%;
	left: 0;
	right: 0;
}

@media ( max-width : 1000px) {
	#test-section {
		width: 85%;
		top: 150px;
	}
}

@media ( max-width : 800px) {
	#test-section {
		width: 87%;
	}
}

@media ( max-width : 575px) {
	#test-section {
		width: 92%;
	}
}

#inner-section {
	width: 90%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/* add the same space as navbar (35px) + navBarHeight + spaceThatWeWant*/
	top: 30px;
	bottom: 30px;
	background-color: #DCDCDC;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-section {
	position: absolute;
	top: 10px;
	height: 50px;
	width: 100%;
	margin: 10px;
	padding: 20px;
}


/* Index */
#input-name input {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 120px;
	top: 100px;
	border-color: grey;
	border-width : 1px;
}

#input-name button {
	background-color: #CD853F;
	color: black;
	margin: 0 auto;
	position: relative;
	top: 110px;
	width: 120px;
}

#input-name button:hover {
	background-color: #A0522D;
}

/* Index */

#timer-section {
	width: 65%;
	height: 30%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/* add the same space as navbar (35px) + navBarHeight + spaceThatWeWant*/
	top: 10%;
	bottom: 80%;
	background-color: #A9A9A9;
	padding: 10px;
}

#timer-section input {
	margin: 0 auto;
	width: 50px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #CD853F;
	text-align: center;
}

#reponses-section .form-check input {
	width: 100%;
}


/* Test */
.form-check {
	position: absolute;
	top: 30%;
	left: 5%;
	height: 50px;
	margin: 10px;
}

#next button {
	text-align: center;
	background-color: #228B22;
	color: black;
	margin: 0 auto;
	position: absolute;
	bottom: 5%;
	right: 5%;
	/* reponsive */
	width: 120px;
}

#next button:hover {
	background-color: #006400;
}