#mainback {
	background-color: #A9A9A9;
}

/* fonts*/

/* Titre */
p, h3 {
	color: #808080;
}

/* Questions / reponses */
h4, h5 {
	color: #343a40;
}


/* navbar */ 
#navbar {
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	border-top: 2px solid rgba(255, 255, 255, .5);
}

#copyright small {
	color : grey;
}

#theme-btn button {
	background-color: #CD853F;
	color: black;
}

#theme-btn button:hover {
	background-color: #A0522D;
}

/*sections */
#index-section, #game-section, #results-section {
	background-color: #FFE4C4;
	border-color: #CD853F;
}

#inner-section, #inner-section-results {
	background-color: #DCDCDC;
	border-color:#A9A9A9;;
}
/*sections */

/* code */
/* code { */
/* 	color : #CD853F; */
/* } */

/* code */

/* index */

#start-btn button {
	background-color: #CD853F;
	color: black;
}

#start-btn button:hover {
	background-color: #A0522D;
}

/* index */

/* game */


#progress {
	background-color: #CD853F;
}
#timer-section {
	color : black;
}

#timer-section input {
	color : black;
}

#next-btn button {
	background-color: #228B22;
	color: black;
}

#next-btn button:hover {
	background-color: #006400;
}

/* game */

/* end-game */

#results-btn button {
	background-color: #CD853F;
	color: black;
}

#results-btn button:hover {
	background-color: #A0522D;
}

/* end-game */

/* results */

#return-btn button {
	background-color: #CD853F;
	color: black;
}

#return-btn button:hover {
	background-color: #A0522D;
}

/* results */