body {
	min-height: 100vh;
}

/* fonts */ 

/* Titre */
p, h3 {
	text-align: center;
	font-size: 180%;
	font-family: 'csm', Fallback, sans-serif;
	padding: 5px;
}

/* Questions / reponses */
h4, h5 {
	font-family: 'csm', Fallback, sans-serif;
	padding-right: 10px;
}

h4 {
	font-size: 130%;
	padding: 5px;
}

h5 {
	font-size: 105%;
	margin-left: 20px;
}

@media ( max-width : 1000px) {
	p, h3 {
		font-size: 150%;
	}
	h4 {
		font-size: 120%;
	}
	h5 {
		font-size: 100%;
	}
}

@media ( max-width : 600px) {
	p {
		font-size: 130%;
	}
	h4 {
		font-size: 110%;
	}
	h5 {
		font-size: 90%;
	}
}

@media ( max-width : 450px) {
	p {
		font-size: 110%;
	}
	h4 {
		font-size: 100%;
	}
	h5 {
		font-size: 85%;
	}
}

@font-face {
	font-family: "csm";
	src: url("./font/comic-sans-ms.ttf") format("truetype");
}

/* fonts */ 

/* navbar */

#navbar {
	height: 100px;
}

.navbar-brand {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

@media (max-width : 800px) {
	#navbar {
		height:100%;
	}
	#navbar #nav-elem-1, #navbar #nav-elem-2, #navbar #nav-elem-3 {
		display: flex;
		flex-direction: column;	
	}
}

#stack a {
	margin-top:15px;
	opacity: 0.01;
}

#theme-btn button {
	margin: 0 auto;
	position: relative;
	width: 150px;
}

/* navbar */

/*sections */

#index-section, #game-section, #results-section {
	width: 60%;
	border-style: solid;
	border-width: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	margin-bottom: 60px;
}

#index-section, #results-section {
	position: relative;
	top: 30px;
}

/* #game-section { */
	
/*  } */

#inner-section, #inner-section-results {
	border-style: solid;
	border-width: 2px;
	width: 100%;
	height: 100%;
}

/*sections */

/* code */
/* code { */
/* 	color : #CD853F; */
/* } */

/* code */

/* index */

#index-section {
	width: 40%;
	top: 100px;
}

@media ( max-width : 1000px) {
	#index-section {
		width: 55%;
	}
}

@media ( max-width : 768px) {
	#index-section {
		width: 60%;
	}
}

@media ( max-width : 575px) {
	#index-section {
		width: 70%;
	}
}

#title-section {
	position: relative;
	text-align: center;
	text-decoration: underline;
	top: 20px;
}

#desc-section {
	position: relative;
	top: 40px;
	margin-bottom: 30px;
}

#desc-section form {
	position: relative;
	top: 20px;
	height: 80px;
}

#start-btn {
	position: relative;
	text-align: center;
}

#start-btn button {
	margin: 0 auto;
	position: relative;
	width: 150px;
}

/* index */

/* game */

#game-section {
	position : relative;
	top: 50px;
}

@media ( max-width : 1000px) {
	#game-section {
		top: 50px;
	}
}

@media ( max-width : 768px) {
	#game-section {
		width: 80%;
	}
}

@media ( max-width : 575px) {
	#game-section {
		width: 85%;
	}
}

#timer-section {
	position: relative;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	top: 30px;
	bottom: 80%;
	padding: 15px;
}

@media ( max-width : 1000px) {
	#timer-section {
		width: 75%;
	}
}

@media ( max-width : 768px) {
	#timer-section {
		width: 80%;
	}
}

@media ( max-width : 575px) {
	#timer-section {
		width: 85%;
	}
}

#timer-section input {
	margin: 0 auto;
	width: 50px;
	border-radius: 5px;
	border-width: 1px;
	text-align: center;
}

#question-section {
	position: relative;
	top: 20px;
	left: 30px;
	margin-right: 30px;
}

#reponses-section {
	top: 50px;
	left: 30px;
	margin-right: 30px;
	margin-bottom: 80px;
}

.form-check input {
	width: 15px;
	height: 15px;
}

#next-btn {
	position: relative;
	bottom: 15px;
	height: 60px;
}

#next-btn button {
	width: 120px;
	left: 30px;
	top: 20px;
}

form button {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

/* game */

/* end-game */

#form {
	margin-bottom: 20px;
}

#results-btn {
	position: relative;
	text-align: center;
}

#results-btn button {
	margin: 0 auto;
	position: relative;
	width: 150px;
}

/* end-game */

/* results */
#results-section {
	width: 75%;
	top: 60px;
	margin-bottom: 120px;
}

@media ( max-width : 1000px) {
	#results-section {
		width: 85%;
	}
}

@media ( max-width : 768px) {
	#results-section {
		width: 87%;
	}
}

@media ( max-width : 575px) {
	#results-section {
		width: 92%;
	}
}

#results-reponses {
	position: relative;
	left : 30px;
}

#return-btn {
	position: relative;
	text-align: center;
	top: 90px;
}

#return-btn button {
	margin: 0 auto;
	position: relative;
	width: 150px;
}

/* results */