body {
	position: relative;
	min-height: 100%;
	min-height: 100vh;
}

#mainback {
	/* 	background-image: url("./../img/sacs.jpg"); */
	background-color: #A9A9A9;
	/* 	Full height */
	/* 	height: 100%; */
	background-size: auto;
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	/* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
	background-attachment: fixed;
	/* This is what makes the background image rescale based
     on the container's size */
	background-size: cover;
}

p, h1, h2, h3 {
	text-align: center;
	color: #808080;
	font-family: 'csm', Fallback, sans-serif;
}

h4, h5 {
	color: #212529;
	font-family: 'csm', Fallback, sans-serif;
    margin-left: 50px;
}

/* @font-face { */
/* 	font-family: "lucida"; */
/* 	src: url("css/font/lucida-sans-unicode.ttf") format("truetype"); */
/* } */
@font-face {
	font-family: "csm";
	src: url("./font/comic-sans-ms.ttf") format("truetype");
}

.navbar-brand {
	margin-left: auto;
	margin-right: auto;
	float:none;
}
/* footer */
footer {
	width: 100%;
	position: fixed;
	/* 	top: 0; */
	bottom: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#click-contact {
	color: #CD853F;
}

#click-contact:hover {
	color: #A0522D;
	cursor: pointer;
}

.credits {
	text-align: center;
	color: rgba(255, 255, 255, .5);
}

/* #socials { */

/* } */

/* footer */

/*section */
#section {
	width: 65%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/* add the same space as navbar (35px) + navBarHeight + spaceThatWeWant*/
	top: 15%;
	bottom: 20%;
	background-color: #FFE4C4;
	border-style: solid;
	border-color: #CD853F;
	border-width: 4px;
}

@media ( max-width : 1000px) {
	#section {
		width: 70%;
		top: 150px;
	}
}

@media ( max-width : 800px) {
	#section {
		width: 80%;
	}
}

@media ( max-width : 575px) {
	#section {
		width: 87%;
	}
}

#inner-section {
	width: 90%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/* add the same space as navbar (35px) + navBarHeight + spaceThatWeWant*/
	top: 30px;
	bottom: 30px;
	background-color: #DCDCDC;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* @media ( max-width : 300px) { */
/* 	#section { */
/* 		width: 50px; */
/* 		top: 50px; */
/* 	} */
/* } */

/*section */

#btn-start {
	position: absolute;
	right: 0;
	margin-right: 30px;
}

#section-footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	margin: 10px;
}

#question {
	position: absolute;
	top   : 20px;
	height: 50px;
	width: 100%;
	margin: 10px;
}

.form-check {
	position: absolute;
	top   : 120px;
	left : 80px;
	height: 50px;
	width: 100%;
	margin: 10px;
}